*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

projectFilesBackup/*
captures/
/.gradle/*
/.idea/*
/build/*
/gradle/*
local.properties
signing.properties
gradle.properties
.DS_Store
gradlew*
*.iml
*~
network/network.iml
model/model.iml

settings-local.gradle
app/.idea/*
app/build/*
app/build-local.gradle
network/build.gradle
model/build.gradle
app/westpac.keystore