*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

projectFilesBackup/*
captures/
/.gradle/*
/.idea/*
/build/*

/gradle/*
local.properties
signing.properties
gradle.properties
.DS_Store
gradlew*
*.iml
*~

settings-local.gradle
app/.idea/*
app/build/*
